<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="estilo.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<form action="/criapost" method="post" class="formtext">
    <h1>Titulo:</h1>
    <input class="text" type="text" name="titulo">
    <br>
    <h1>Resumo:</h1>
    <input class="text" type="text" name="resumo">
    <br>
    <h1>Conteudo:</h1>
    <input class="text" type="text" name="conteudo">
    <br>
    <input type="submit" value="Enviar">
</form>
</body>
</html>
